html {
  background-color: beige;
}

body: {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

.prompt {
}

#seat-map {
  background-color: white;
  padding: 10px;
  border-color: black;
  height: 80%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.seat-row {
  display: flex;
  justify-content: space-around;
}

.seat-button {
  background-color: white;
}

.seat-button.selected-seat {
  background-color: green;
  color: white;
}

#number-bags {
  width: 5em;
  margin: auto;
}

.next {
  background-color: green;
  color: white;
}
