html {
  background-color: beige;
}

body: {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

.prompt {
}

#seat-map {
  background-color: white;
  padding: 10px;
  border-color: black;
  height: 80%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.seat-row {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  /* width: 100%; */
}

#seat-button {
}
