body {
  height: 100vh;
  width: 100vw;
  background-color: beige;
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input {
  padding-top: 0;
  padding-bottom: 0;
}

button {
  width: 7rem;
  margin: 5px;
}

input,
select,
button {
  border-width: 2px;
  border-radius: 8px;
  height: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

/* #left .container * {
  margin: 3px;
} */

#right {
  height: 100%;
  min-width: 30%;
}

#seat-map-legend {
  align-items: flex-start;
}

.legend-item {
  display: flex;
  flex-direction: row;
}

.seat-icon {
  display: flex;
  height: 2em;
  width: 2em;
  background-color: gray;
  font-size: small;
  text-align: center;
}

.legend-item .seat-icon {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

.not-checked-in.seat-icon {
  background-color: gray;
}
.checked-in.seat-icon {
  background-color: orange;
}
.boarding.seat-icon {
  background-color: yellow;
}
.seated.seat-icon {
  background-color: green;
}

#seat-map {
  background-color: white;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.seat-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.seat-icon.right-aisle {
  margin-left: 1rem;
}

#number-passengers {
  min-width: 3em;
}
